.DS_Store
node_modules/
dist/
build/
!backend_go/build/
*.log

Frotend_Vue/node_modules/
backend_go/frontend_dist/
backend_go/build/*
!backend_go/build/appicon.png
!backend_go/build/windows/
backend_go/build/windows/*
!backend_go/build/windows/icon.ico
!backend_go/build/windows/info.json
!backend_go/build/windows/wails.exe.manifest
backend_go/backend_go
server/data/
server/server
export_app/*
!export_app/.gitkeep
